/* REGISTRO */

.main-form{
    width: 100%;
    height: 100%;
    min-height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/images/fondo2.jpg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    /* box-shadow: 0px 0px 5px 0px rgb(67, 66, 66); */
    opacity: 85%;
}
.div-form{
    width: 95%;
    height: 95%;
    max-width: 300px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}
.div-form h2{
    background-color: rgba(230, 230, 230, 0.698);
    margin: 0;
    border-radius: 10px 10px 0px 0px;
    padding-left: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: rgba(230, 230, 230, 0.698);
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

.send-form{
   padding: 5px;
   width: 50%;
   margin: 15px 25% 0px 25%;
   border: none;
   background-color: rgb(220, 32, 25);
   color: white;
   border-radius: 10px;
}
.form label{
    font-weight: 600;
}
.form input{
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.448);
    padding-left: 5px;
}
.div-checkbox{
    width: 90%;
    display: flex;
    font-size: 14px;
    justify-content: flex-start;
    padding-left: 5x;
    margin-top: 8px;
}
.div-checkbox input{
    margin-right: 8px;
    margin-left: 10px;
}

.login{
    align-items: flex-start;
}

.register-error{
    color: red;
    font-size: 12px;
}


/* PRODUCTS */
.main-form-products{
    width: 100%;
    height: 100%;
    min-height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/images/fondo.jpg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 85%;
    padding: 50px 10px 50px 10px;
}
.div-form-products{
    max-height: 90vh;
    box-shadow: 0px 0px 10px 0px rgba(143, 143, 143, 0.405);
    overflow-y: auto;
    margin-top: 20px;
    z-index: 100;
}
.div-form-products h2{
    background-color: rgba(230, 230, 230, 0.698);
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(143, 143, 143, 0.405);
    border-radius: 10px 10px 0px 0px;
    margin: 0;
    text-align: center;
}

.form-products{
    display: flex;
    flex-direction: column;
    background-color: rgba(230, 230, 230, 0.698);
    padding: 10px;
    
    border-radius: 0px 0px 10px 10px;
}
.form-products label{
    font-weight: 600;
}
.form-products input{
    border: 1px solid rgba(0, 0, 0, 0.407);
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}
.select-create-products{
    border: 1px solid rgba(0, 0, 0, 0.407);
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}

.preview-image {
   width: 100px;
}

textarea{
    resize: none;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.407);
    border-radius: 5px;
}
.textarea{
    display: flex;
    justify-content: space-between;
}

.form-products-inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: flex-start;
}
.form-products-textarea{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.cancel-create{
    position: absolute;
    right: 20px;
    top: 5px;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: rgb(185, 38, 38);
    color: white;
    font-size: 15px;
    z-index: 110;
 }
 .cancel-create:hover{
    background-color: rgb(211, 86, 86);
 }


@media (min-width: 1024px) {
    /* PRODUCTS */
.main-form-products{
    background-size: contain;
}

.form-products{
    flex-direction: row;
    width: 1000px;
}

.form-products-inputs{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: left;
}
.form-products-textarea{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
}