*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}
header{
  width: 100%;
  height: 200px;
}
.top-header{
   height: auto;
   padding: 50px 10px 10px 10px; 
   display: flex; 
   justify-content: space-around;
   width: 100%;
   z-index: 10;
   background-color: rgb(255, 255, 255);
}
.top-header-logo{
 width: 140px; 
 height: 98px;
 position: relative;
}
.top-header-loginUser{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   margin: 10px;
   font-weight: 500;
   gap: 5px;
   font-size: 12px;
   position: relative;
   min-width: 80px;
}
.top-header-loginUserBig{
  display: none
}
.top-header-phrase{
  display: flex;
  align-items: flex-end;
  margin: 10px;
  width: 250px;
  display: none;
  font-size: 10px;
  font-weight: 600;
}
.frase-no-gusto{
   margin-right: 5px;
}
a{
  text-decoration: none;
}
.user-button{
  border: none;
  background-color: #fff;
  transition: 1000ms;
}
.user-list{
  background-color: rgba(255, 255, 255, 0.657);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  border-radius: 10px;
  padding: 0px;
  gap: 5px;
  width: 80;
}
li.header-ingreso{
   display: flex;
   color:  black;
}
li.header-ingreso:hover{
  color:  rgb(188, 33, 27);
}
p{
  margin: 0;
}
.div-nav-header{
  height: 40px;
  display: flex;
  box-shadow: 0px 0px 3px 0px rgb(43, 43, 43);
  position: absolute;
  top: 160px;
  width: 100%;
}
.ul-nav-header{
  padding: 0px;
  display: flex;
  height: 100%;
  width: 100%;
}
.li-nav-header{
  list-style: none;
  width: 100%;
  text-align: center;
}
.button-nav-header{
  height: 40px;
  border: none;
  color: black;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  cursor: pointer;
  font-size: 12px;
}

.li-nav-header:hover{
  transition: 0.7s;
  background-color: rgb(241, 241, 241);
}



/* ONSCROLL HEADER */


.disabled{
  display: none;
}

.top-headerScroll{
  height: auto; 
  z-index: 10;
  border-bottom: grey 1px solid;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgb(100, 100, 100);
  opacity: 90%;
  text-align: center;
}
.top-header-logoScroll{
  height: 69px;
  transition: 600ms;
}

@media (min-width: 768px) {
  
  .top-header{
    justify-content: space-between;
 }
 
  .top-header-phrase{
    display: flex;
    font-style: italic;
  }
  .button-nav-header{
  width: 100%;
  }
  .top-header-loginUser{
    display: none;
  }
  .top-header-loginUser a{
    width: 20%;
    min-width: 100px;
  }
  .top-header-loginUserBig{
    display: flex;
    align-items: flex-end;
    gap: 25px;
    width: 250px;
    justify-content: flex-end;
  }
  .top-header-loginUserBig p{
    color: black;
    font-size: 14px;
    font-weight: 500;
  }
  .top-header-loginUserBig p:hover{
    color: rgb(149, 18, 18);
  }
 
  
}
@media (min-width: 1024px) {
  .button-nav-header{
    font-size: 15px;
    width: 100%;
  }
  .top-header-phrase{
    width: 400px;
    font-size: 16px;
  }
  .top-header-loginUserBig{
    width: 400px;
  }
 
}




